# Ignore all
/*


# Exclusions
# Allow dotfiles in ~, but don't allow folders starting with dot
!.*
.*/

# Folders (and their subdirs)
!/.config/
!/.local/


# Ignore back again
# General
.DS_Store
*.tmp
*.bak
*.*~

# .config
/.config/aliasrc.work
/.config/git/config.work
/.config/nvim/.netrwhist
/.config/rgs
/.config/iterm2
# ignore iterm2 prefs, add with -f since may have sensitive work stuff
/.config/iterm2-prefs/com.googlecode.iterm2.plist

# .local
/.local/*
!/.local/ntay
!/.local/share
/.local/share/*
!/.local/share/zsh

# Bare home files
/.Xauthority
/.xsession-errors
/.viminfo
/.bash_logout
/.j_*
/.pypirc
/.zsh_history
/.zcompdump
/.CFUserTextEncoding
/.node_repl_history
/.localized
/.netrc
/.*_history*
/.npmrc
